.ADDED {
  -fx-control-inner-background: #7fe084;
  -fx-accent: derive(-fx-control-inner-background, -10%);
  -fx-selection-bar-non-focused: -fx-control-inner-background;
}

.REMOVED {
  -fx-control-inner-background: #7f9ee0;
  -fx-accent: derive(-fx-control-inner-background, -10%);
  -fx-selection-bar-non-focused: -fx-control-inner-background;
}

.MODIFIED {
  -fx-control-inner-background: #e07f96;
  -fx-accent: derive(-fx-control-inner-background, -10%);
  -fx-selection-bar-non-focused: -fx-control-inner-background;
}

.IMMUTABLE {
  -fx-control-inner-background: #BABABA;
  -fx-accent: derive(-fx-control-inner-background, -10%);
  -fx-selection-bar-non-focused: -fx-control-inner-background;
}

.ADDED-CELL {
    -fx-border-width: 1;
    -fx-padding: 3 0 0 4;
    -fx-border-color: blue;
    -fx-table-cell-border-color: blue;
    -fx-background-color: #7fe084;
}

.REMOVED-CELL {
    -fx-border-width: 1;
    -fx-padding: 3 0 0 4;
    -fx-border-color: blue;
    -fx-table-cell-border-color: blue;
    -fx-background-color: #7f9ee0;
}

.MODIFIED-CELL {
    -fx-border-width: 1;
    -fx-padding: 3 0 0 4;
    -fx-border-color: blue;
    -fx-table-cell-border-color: blue;
    -fx-background-color: #e07f96;
}

.IMMUTABLE-CELL {
  -fx-background-color: #BABABA ;
}


.table-row-cell:selected {
    -fx-border-width: 1;
    -fx-padding: -1;
    -fx-border-color: blue;
    -fx-table-cell-border-color: blue;

}

/*.table-row-cell:selected {*/
    /*-fx-padding: 0;*/
    /*-fx-border-color:blue;*/
/*}*/
